@import url('https://fonts.googleapis.com/css?family=Archivo+Black|Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Candal&display=swap');
html, body {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  font-family: 'Montserrat', sans-serif;
  color:#292e31;
  background-color: #f8f9fa;
}
a {
  color:#292e31;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
